/* Any Element With Class Title */
.title {
}

/* Any Element With Id Navigation */
#nav {
}

/* Every Div Element In Html The File*/
div {
}

/* Every H2 Element In The Html File */
h2 {
}

h1{
    font-weight: bold;
    color: green;
}

.you{
    color: blue;
    font-size: medium;
    font-weight: bolder;
}